@font-face {
  font-family: 'bs-icons';
  src:  url('fonts/bs-icons.eot?kgwdh9');
  src:  url('fonts/bs-icons.eot?kgwdh9#iefix') format('embedded-opentype'),
    url('fonts/bs-icons.ttf?kgwdh9') format('truetype'),
    url('fonts/bs-icons.woff?kgwdh9') format('woff'),
    url('fonts/bs-icons.svg?kgwdh9#bs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bs-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alarm:before {
  content: "\e900";
}
.alarm-fill:before {
  content: "\e901";
}
.align-bottom:before {
  content: "\e902";
}
.align-center:before {
  content: "\e903";
}
.align-end:before {
  content: "\e904";
}
.align-middle:before {
  content: "\e905";
}
.align-start:before {
  content: "\e906";
}
.align-top:before {
  content: "\e907";
}
.alt:before {
  content: "\e908";
}
.app:before {
  content: "\e909";
}
.app-indicator:before {
  content: "\e90a";
}
.archive:before {
  content: "\e90b";
}
.archive-fill:before {
  content: "\e90c";
}
.arrow-90deg-down:before {
  content: "\e90d";
}
.arrow-90deg-left:before {
  content: "\e90e";
}
.arrow-90deg-right:before {
  content: "\e90f";
}
.arrow-90deg-up:before {
  content: "\e910";
}
.arrow-bar-down:before {
  content: "\e911";
}
.arrow-bar-left:before {
  content: "\e912";
}
.arrow-bar-right:before {
  content: "\e913";
}
.arrow-bar-up:before {
  content: "\e914";
}
.arrow-clockwise:before {
  content: "\e915";
}
.arrow-counterclockwise:before {
  content: "\e916";
}
.arrow-down:before {
  content: "\e917";
}
.arrow-down-circle:before {
  content: "\e918";
}
.arrow-down-circle-fill:before {
  content: "\e919";
}
.arrow-down-left:before {
  content: "\e91a";
}
.arrow-down-left-circle:before {
  content: "\e91b";
}
.arrow-down-left-circle-fill:before {
  content: "\e91c";
}
.arrow-down-left-square:before {
  content: "\e91d";
}
.arrow-down-left-square-fill:before {
  content: "\e91e";
}
.arrow-down-right:before {
  content: "\e91f";
}
.arrow-down-right-circle:before {
  content: "\e920";
}
.arrow-down-right-circle-fill:before {
  content: "\e921";
}
.arrow-down-right-square:before {
  content: "\e922";
}
.arrow-down-right-square-fill:before {
  content: "\e923";
}
.arrow-down-short:before {
  content: "\e924";
}
.arrow-down-square:before {
  content: "\e925";
}
.arrow-down-square-fill:before {
  content: "\e926";
}
.arrow-down-up:before {
  content: "\e927";
}
.arrow-left:before {
  content: "\e928";
}
.arrow-left-circle:before {
  content: "\e929";
}
.arrow-left-circle-fill:before {
  content: "\e92a";
}
.arrow-left-right:before {
  content: "\e92b";
}
.arrow-left-short:before {
  content: "\e92c";
}
.arrow-left-square:before {
  content: "\e92d";
}
.arrow-left-square-fill:before {
  content: "\e92e";
}
.arrow-repeat:before {
  content: "\e92f";
}
.arrow-return-left:before {
  content: "\e930";
}
.arrow-return-right:before {
  content: "\e931";
}
.arrow-right:before {
  content: "\e932";
}
.arrow-right-circle:before {
  content: "\e933";
}
.arrow-right-circle-fill:before {
  content: "\e934";
}
.arrow-right-short:before {
  content: "\e935";
}
.arrow-right-square:before {
  content: "\e936";
}
.arrow-right-square-fill:before {
  content: "\e937";
}
.arrows-angle-contract:before {
  content: "\e938";
}
.arrows-angle-expand:before {
  content: "\e939";
}
.arrows-collapse:before {
  content: "\e93a";
}
.arrows-expand:before {
  content: "\e93b";
}
.arrows-fullscreen:before {
  content: "\e93c";
}
.arrows-move:before {
  content: "\e93d";
}
.arrow-up:before {
  content: "\e93e";
}
.arrow-up-circle:before {
  content: "\e93f";
}
.arrow-up-circle-fill:before {
  content: "\e940";
}
.arrow-up-left:before {
  content: "\e941";
}
.arrow-up-left-circle:before {
  content: "\e942";
}
.arrow-up-left-circle-fill:before {
  content: "\e943";
}
.arrow-up-left-square:before {
  content: "\e944";
}
.arrow-up-left-square-fill:before {
  content: "\e945";
}
.arrow-up-right:before {
  content: "\e946";
}
.arrow-up-right-circle:before {
  content: "\e947";
}
.arrow-up-right-circle-fill:before {
  content: "\e948";
}
.arrow-up-right-square:before {
  content: "\e949";
}
.arrow-up-right-square-fill:before {
  content: "\e94a";
}
.arrow-up-short:before {
  content: "\e94b";
}
.arrow-up-square:before {
  content: "\e94c";
}
.arrow-up-square-fill:before {
  content: "\e94d";
}
.aspect-ratio:before {
  content: "\e94e";
}
.aspect-ratio-fill:before {
  content: "\e94f";
}
.asterisk:before {
  content: "\e950";
}
.at:before {
  content: "\e951";
}
.award:before {
  content: "\e952";
}
.award-fill:before {
  content: "\e953";
}
.back:before {
  content: "\e954";
}
.backspace:before {
  content: "\e955";
}
.backspace-fill:before {
  content: "\e956";
}
.backspace-reverse:before {
  content: "\e957";
}
.backspace-reverse-fill:before {
  content: "\e958";
}
.badge-4k:before {
  content: "\e959";
}
.badge-4k-fill:before {
  content: "\e95a";
}
.badge-8k:before {
  content: "\e95b";
}
.badge-8k-fill:before {
  content: "\e95c";
}
.badge-cc:before {
  content: "\e95d";
}
.badge-cc-fill:before {
  content: "\e95e";
}
.badge-hd:before {
  content: "\e95f";
}
.badge-hd-fill:before {
  content: "\e960";
}
.badge-tm:before {
  content: "\e961";
}
.badge-tm-fill:before {
  content: "\e962";
}
.badge-vo:before {
  content: "\e963";
}
.badge-vo-fill:before {
  content: "\e964";
}
.bag:before {
  content: "\e965";
}
.bag-check:before {
  content: "\e966";
}
.bag-dash:before {
  content: "\e967";
}
.bag-fill:before {
  content: "\e968";
}
.bag-plus:before {
  content: "\e969";
}
.bar-chart:before {
  content: "\e96a";
}
.bar-chart-fill:before {
  content: "\e96b";
}
.bar-chart-line:before {
  content: "\e96c";
}
.bar-chart-line-fill:before {
  content: "\e96d";
}
.bar-chart-steps:before {
  content: "\e96e";
}
.basket:before {
  content: "\e96f";
}
.basket2:before {
  content: "\e970";
}
.basket2-fill:before {
  content: "\e971";
}
.basket3:before {
  content: "\e972";
}
.basket3-fill:before {
  content: "\e973";
}
.basket-fill:before {
  content: "\e974";
}
.battery:before {
  content: "\e975";
}
.battery-charging:before {
  content: "\e976";
}
.battery-full:before {
  content: "\e977";
}
.battery-half:before {
  content: "\e978";
}
.bell:before {
  content: "\e979";
}
.bell-fill:before {
  content: "\e97a";
}
.bezier:before {
  content: "\e97b";
}
.bezier2:before {
  content: "\e97c";
}
.bicycle:before {
  content: "\e97d";
}
.binoculars:before {
  content: "\e97e";
}
.binoculars-fill:before {
  content: "\e97f";
}
.blockquote-left:before {
  content: "\e980";
}
.blockquote-right:before {
  content: "\e981";
}
.book:before {
  content: "\e982";
}
.book-fill:before {
  content: "\e983";
}
.book-half:before {
  content: "\e984";
}
.bookmark:before {
  content: "\e985";
}
.bookmark-check:before {
  content: "\e986";
}
.bookmark-dash:before {
  content: "\e987";
}
.bookmark-fill:before {
  content: "\e988";
}
.bookmark-plus:before {
  content: "\e989";
}
.bookmarks:before {
  content: "\e98a";
}
.bookmarks-fill:before {
  content: "\e98b";
}
.bookshelf:before {
  content: "\e98c";
}
.bootstrap:before {
  content: "\e98d";
}
.bootstrap-fill:before {
  content: "\e98e";
}
.bootstrap-reboot:before {
  content: "\e98f";
}
.border-style:before {
  content: "\e990";
}
.border-width:before {
  content: "\e991";
}
.bounding-box:before {
  content: "\e992";
}
.bounding-box-circles:before {
  content: "\e993";
}
.box:before {
  content: "\e994";
}
.box-arrow-down:before {
  content: "\e995";
}
.box-arrow-down-left:before {
  content: "\e996";
}
.box-arrow-down-right:before {
  content: "\e997";
}
.box-arrow-in-down:before {
  content: "\e998";
}
.box-arrow-in-down-left:before {
  content: "\e999";
}
.box-arrow-in-down-right:before {
  content: "\e99a";
}
.box-arrow-in-left:before {
  content: "\e99b";
}
.box-arrow-in-right:before {
  content: "\e99c";
}
.box-arrow-in-up:before {
  content: "\e99d";
}
.box-arrow-in-up-left:before {
  content: "\e99e";
}
.box-arrow-in-up-right:before {
  content: "\e99f";
}
.box-arrow-left:before {
  content: "\e9a0";
}
.box-arrow-right:before {
  content: "\e9a1";
}
.box-arrow-up:before {
  content: "\e9a2";
}
.box-arrow-up-left:before {
  content: "\e9a3";
}
.box-arrow-up-right:before {
  content: "\e9a4";
}
.box-seam:before {
  content: "\e9a5";
}
.braces:before {
  content: "\e9a6";
}
.bricks:before {
  content: "\e9a7";
}
.briefcase:before {
  content: "\e9a8";
}
.briefcase-fill:before {
  content: "\e9a9";
}
.brightness-alt-high:before {
  content: "\e9aa";
}
.brightness-alt-high-fill:before {
  content: "\e9ab";
}
.brightness-alt-low:before {
  content: "\e9ac";
}
.brightness-alt-low-fill:before {
  content: "\e9ad";
}
.brightness-high:before {
  content: "\e9ae";
}
.brightness-high-fill:before {
  content: "\e9af";
}
.brightness-low:before {
  content: "\e9b0";
}
.brightness-low-fill:before {
  content: "\e9b1";
}
.broadcast:before {
  content: "\e9b2";
}
.broadcast-pin:before {
  content: "\e9b3";
}
.brush:before {
  content: "\e9b4";
}
.bucket:before {
  content: "\e9b5";
}
.bucket-fill:before {
  content: "\e9b6";
}
.bug:before {
  content: "\e9b7";
}
.bug-fill:before {
  content: "\e9b8";
}
.building:before {
  content: "\e9b9";
}
.bullseye:before {
  content: "\e9ba";
}
.calculator:before {
  content: "\e9bb";
}
.calculator-fill:before {
  content: "\e9bc";
}
.calendar:before {
  content: "\e9bd";
}
.calendar2:before {
  content: "\e9be";
}
.calendar2-check:before {
  content: "\e9bf";
}
.calendar2-check-fill:before {
  content: "\e9c0";
}
.calendar2-date:before {
  content: "\e9c1";
}
.calendar2-date-fill:before {
  content: "\e9c2";
}
.calendar2-day:before {
  content: "\e9c3";
}
.calendar2-day-fill:before {
  content: "\e9c4";
}
.calendar2-event:before {
  content: "\e9c5";
}
.calendar2-event-fill:before {
  content: "\e9c6";
}
.calendar2-fill:before {
  content: "\e9c7";
}
.calendar2-minus:before {
  content: "\e9c8";
}
.calendar2-minus-fill:before {
  content: "\e9c9";
}
.calendar2-month:before {
  content: "\e9ca";
}
.calendar2-month-fill:before {
  content: "\e9cb";
}
.calendar2-plus:before {
  content: "\e9cc";
}
.calendar2-plus-fill:before {
  content: "\e9cd";
}
.calendar2-range:before {
  content: "\e9ce";
}
.calendar2-range-fill:before {
  content: "\e9cf";
}
.calendar2-week:before {
  content: "\e9d0";
}
.calendar2-week-fill:before {
  content: "\e9d1";
}
.calendar3:before {
  content: "\e9d2";
}
.calendar3-event:before {
  content: "\e9d3";
}
.calendar3-event-fill:before {
  content: "\e9d4";
}
.calendar3-fill:before {
  content: "\e9d5";
}
.calendar3-range:before {
  content: "\e9d6";
}
.calendar3-range-fill:before {
  content: "\e9d7";
}
.calendar3-week:before {
  content: "\e9d8";
}
.calendar3-week-fill:before {
  content: "\e9d9";
}
.calendar4:before {
  content: "\e9da";
}
.calendar4-event:before {
  content: "\e9db";
}
.calendar4-range:before {
  content: "\e9dc";
}
.calendar4-week:before {
  content: "\e9dd";
}
.calendar-check:before {
  content: "\e9de";
}
.calendar-check-fill:before {
  content: "\e9df";
}
.calendar-date:before {
  content: "\e9e0";
}
.calendar-date-fill:before {
  content: "\e9e1";
}
.calendar-day:before {
  content: "\e9e2";
}
.calendar-day-fill:before {
  content: "\e9e3";
}
.calendar-event:before {
  content: "\e9e4";
}
.calendar-event-fill:before {
  content: "\e9e5";
}
.calendar-fill:before {
  content: "\e9e6";
}
.calendar-minus:before {
  content: "\e9e7";
}
.calendar-minus-fill:before {
  content: "\e9e8";
}
.calendar-month:before {
  content: "\e9e9";
}
.calendar-month-fill:before {
  content: "\e9ea";
}
.calendar-plus:before {
  content: "\e9eb";
}
.calendar-plus-fill:before {
  content: "\e9ec";
}
.calendar-range:before {
  content: "\e9ed";
}
.calendar-range-fill:before {
  content: "\e9ee";
}
.calendar-week:before {
  content: "\e9ef";
}
.calendar-week-fill:before {
  content: "\e9f0";
}
.camera:before {
  content: "\e9f1";
}
.camera2:before {
  content: "\e9f2";
}
.camera-fill:before {
  content: "\e9f3";
}
.camera-reels:before {
  content: "\e9f4";
}
.camera-reels-fill:before {
  content: "\e9f5";
}
.camera-video:before {
  content: "\e9f6";
}
.camera-video-fill:before {
  content: "\e9f7";
}
.camera-video-off:before {
  content: "\e9f8";
}
.camera-video-off-fill:before {
  content: "\e9f9";
}
.capslock:before {
  content: "\e9fa";
}
.capslock-fill:before {
  content: "\e9fb";
}
.card-checklist:before {
  content: "\e9fc";
}
.card-heading:before {
  content: "\e9fd";
}
.card-image:before {
  content: "\e9fe";
}
.card-list:before {
  content: "\e9ff";
}
.card-text:before {
  content: "\ea00";
}
.caret-down:before {
  content: "\ea01";
}
.caret-down-fill:before {
  content: "\ea02";
}
.caret-down-square:before {
  content: "\ea03";
}
.caret-down-square-fill:before {
  content: "\ea04";
}
.caret-left:before {
  content: "\ea05";
}
.caret-left-fill:before {
  content: "\ea06";
}
.caret-left-square:before {
  content: "\ea07";
}
.caret-left-square-fill:before {
  content: "\ea08";
}
.caret-right:before {
  content: "\ea09";
}
.caret-right-fill:before {
  content: "\ea0a";
}
.caret-right-square:before {
  content: "\ea0b";
}
.caret-right-square-fill:before {
  content: "\ea0c";
}
.caret-up:before {
  content: "\ea0d";
}
.caret-up-fill:before {
  content: "\ea0e";
}
.caret-up-square:before {
  content: "\ea0f";
}
.caret-up-square-fill:before {
  content: "\ea10";
}
.cart:before {
  content: "\ea11";
}
.cart2:before {
  content: "\ea12";
}
.cart3:before {
  content: "\ea13";
}
.cart4:before {
  content: "\ea14";
}
.cart-check:before {
  content: "\ea15";
}
.cart-dash:before {
  content: "\ea16";
}
.cart-fill:before {
  content: "\ea17";
}
.cart-plus:before {
  content: "\ea18";
}
.cash:before {
  content: "\ea19";
}
.cash-stack:before {
  content: "\ea1a";
}
.cast:before {
  content: "\ea1b";
}
.chat:before {
  content: "\ea1c";
}
.chat-dots:before {
  content: "\ea1d";
}
.chat-dots-fill:before {
  content: "\ea1e";
}
.chat-fill:before {
  content: "\ea1f";
}
.chat-left:before {
  content: "\ea20";
}
.chat-left-dots:before {
  content: "\ea21";
}
.chat-left-dots-fill:before {
  content: "\ea22";
}
.chat-left-fill:before {
  content: "\ea23";
}
.chat-left-quote:before {
  content: "\ea24";
}
.chat-left-quote-fill:before {
  content: "\ea25";
}
.chat-left-text:before {
  content: "\ea26";
}
.chat-left-text-fill:before {
  content: "\ea27";
}
.chat-quote:before {
  content: "\ea28";
}
.chat-quote-fill:before {
  content: "\ea29";
}
.chat-right:before {
  content: "\ea2a";
}
.chat-right-dots:before {
  content: "\ea2b";
}
.chat-right-dots-fill:before {
  content: "\ea2c";
}
.chat-right-fill:before {
  content: "\ea2d";
}
.chat-right-quote:before {
  content: "\ea2e";
}
.chat-right-quote-fill:before {
  content: "\ea2f";
}
.chat-right-text:before {
  content: "\ea30";
}
.chat-right-text-fill:before {
  content: "\ea31";
}
.chat-square:before {
  content: "\ea32";
}
.chat-square-dots:before {
  content: "\ea33";
}
.chat-square-dots-fill:before {
  content: "\ea34";
}
.chat-square-fill:before {
  content: "\ea35";
}
.chat-square-quote:before {
  content: "\ea36";
}
.chat-square-quote-fill:before {
  content: "\ea37";
}
.chat-square-text:before {
  content: "\ea38";
}
.chat-square-text-fill:before {
  content: "\ea39";
}
.chat-text:before {
  content: "\ea3a";
}
.chat-text-fill:before {
  content: "\ea3b";
}
.check:before {
  content: "\ea3c";
}
.check2:before {
  content: "\ea3d";
}
.check2-all:before {
  content: "\ea3e";
}
.check2-circle:before {
  content: "\ea3f";
}
.check2-square:before {
  content: "\ea40";
}
.check-all:before {
  content: "\ea41";
}
.check-circle:before {
  content: "\ea42";
}
.check-circle-fill:before {
  content: "\ea43";
}
.check-square:before {
  content: "\ea44";
}
.check-square-fill:before {
  content: "\ea45";
}
.chevron-bar-contract:before {
  content: "\ea46";
}
.chevron-bar-down:before {
  content: "\ea47";
}
.chevron-bar-expand:before {
  content: "\ea48";
}
.chevron-bar-left:before {
  content: "\ea49";
}
.chevron-bar-right:before {
  content: "\ea4a";
}
.chevron-bar-up:before {
  content: "\ea4b";
}
.chevron-compact-down:before {
  content: "\ea4c";
}
.chevron-compact-left:before {
  content: "\ea4d";
}
.chevron-compact-right:before {
  content: "\ea4e";
}
.chevron-compact-up:before {
  content: "\ea4f";
}
.chevron-contract:before {
  content: "\ea50";
}
.chevron-double-down:before {
  content: "\ea51";
}
.chevron-double-left:before {
  content: "\ea52";
}
.chevron-double-right:before {
  content: "\ea53";
}
.chevron-double-up:before {
  content: "\ea54";
}
.chevron-down:before {
  content: "\ea55";
}
.chevron-expand:before {
  content: "\ea56";
}
.chevron-left:before {
  content: "\ea57";
}
.chevron-right:before {
  content: "\ea58";
}
.chevron-up:before {
  content: "\ea59";
}
.circle:before {
  content: "\ea5a";
}
.circle-fill:before {
  content: "\ea5b";
}
.circle-half:before {
  content: "\ea5c";
}
.circle-square:before {
  content: "\ea5d";
}
.clipboard:before {
  content: "\ea5e";
}
.clipboard-check:before {
  content: "\ea5f";
}
.clipboard-data:before {
  content: "\ea60";
}
.clipboard-minus:before {
  content: "\ea61";
}
.clipboard-plus:before {
  content: "\ea62";
}
.clock:before {
  content: "\ea63";
}
.clock-fill:before {
  content: "\ea64";
}
.clock-history:before {
  content: "\ea65";
}
.cloud:before {
  content: "\ea66";
}
.cloud-arrow-down:before {
  content: "\ea67";
}
.cloud-arrow-down-fill:before {
  content: "\ea68";
}
.cloud-arrow-up:before {
  content: "\ea69";
}
.cloud-arrow-up-fill:before {
  content: "\ea6a";
}
.cloud-check:before {
  content: "\ea6b";
}
.cloud-check-fill:before {
  content: "\ea6c";
}
.cloud-download:before {
  content: "\ea6d";
}
.cloud-download-fill:before {
  content: "\ea6e";
}
.cloud-fill:before {
  content: "\ea6f";
}
.cloud-minus:before {
  content: "\ea70";
}
.cloud-minus-fill:before {
  content: "\ea71";
}
.cloud-plus:before {
  content: "\ea72";
}
.cloud-plus-fill:before {
  content: "\ea73";
}
.cloud-slash:before {
  content: "\ea74";
}
.cloud-slash-fill:before {
  content: "\ea75";
}
.cloud-upload:before {
  content: "\ea76";
}
.cloud-upload-fill:before {
  content: "\ea77";
}
.code:before {
  content: "\ea78";
}
.code-slash:before {
  content: "\ea79";
}
.code-square:before {
  content: "\ea7a";
}
.collection:before {
  content: "\ea7b";
}
.collection-fill:before {
  content: "\ea7c";
}
.collection-play:before {
  content: "\ea7d";
}
.collection-play-fill:before {
  content: "\ea7e";
}
.columns:before {
  content: "\ea7f";
}
.columns-gap:before {
  content: "\ea80";
}
.command:before {
  content: "\ea81";
}
.compass:before {
  content: "\ea82";
}
.cone:before {
  content: "\ea83";
}
.cone-striped:before {
  content: "\ea84";
}
.controller:before {
  content: "\ea85";
}
.cpu:before {
  content: "\ea86";
}
.cpu-fill:before {
  content: "\ea87";
}
.credit-card:before {
  content: "\ea88";
}
.credit-card-2-back:before {
  content: "\ea89";
}
.credit-card-2-back-fill:before {
  content: "\ea8a";
}
.credit-card-2-front:before {
  content: "\ea8b";
}
.credit-card-2-front-fill:before {
  content: "\ea8c";
}
.credit-card-fill:before {
  content: "\ea8d";
}
.crop:before {
  content: "\ea8e";
}
.cup:before {
  content: "\ea8f";
}
.cup-straw:before {
  content: "\ea90";
}
.cursor:before {
  content: "\ea91";
}
.cursor-fill:before {
  content: "\ea92";
}
.cursor-text:before {
  content: "\ea93";
}
.dash:before {
  content: "\ea94";
}
.dash-circle:before {
  content: "\ea95";
}
.dash-circle-fill:before {
  content: "\ea96";
}
.dash-square:before {
  content: "\ea97";
}
.dash-square-fill:before {
  content: "\ea98";
}
.diagram-2:before {
  content: "\ea99";
}
.diagram-2-fill:before {
  content: "\ea9a";
}
.diagram-3:before {
  content: "\ea9b";
}
.diagram-3-fill:before {
  content: "\ea9c";
}
.diamond:before {
  content: "\ea9d";
}
.diamond-fill:before {
  content: "\ea9e";
}
.diamond-half:before {
  content: "\ea9f";
}
.dice-1:before {
  content: "\eaa0";
}
.dice-1-fill:before {
  content: "\eaa1";
}
.dice-2:before {
  content: "\eaa2";
}
.dice-2-fill:before {
  content: "\eaa3";
}
.dice-3:before {
  content: "\eaa4";
}
.dice-3-fill:before {
  content: "\eaa5";
}
.dice-4:before {
  content: "\eaa6";
}
.dice-4-fill:before {
  content: "\eaa7";
}
.dice-5:before {
  content: "\eaa8";
}
.dice-5-fill:before {
  content: "\eaa9";
}
.dice-6:before {
  content: "\eaaa";
}
.dice-6-fill:before {
  content: "\eaab";
}
.display:before {
  content: "\eaac";
}
.display-fill:before {
  content: "\eaad";
}
.distribute-horizontal:before {
  content: "\eaae";
}
.distribute-vertical:before {
  content: "\eaaf";
}
.door-closed:before {
  content: "\eab0";
}
.door-closed-fill:before {
  content: "\eab1";
}
.door-open:before {
  content: "\eab2";
}
.door-open-fill:before {
  content: "\eab3";
}
.dot:before {
  content: "\eab4";
}
.download:before {
  content: "\eab5";
}
.droplet:before {
  content: "\eab6";
}
.droplet-fill:before {
  content: "\eab7";
}
.droplet-half:before {
  content: "\eab8";
}
.earbuds:before {
  content: "\eab9";
}
.easel:before {
  content: "\eaba";
}
.easel-fill:before {
  content: "\eabb";
}
.egg:before {
  content: "\eabc";
}
.egg-fill:before {
  content: "\eabd";
}
.egg-fried:before {
  content: "\eabe";
}
.eject:before {
  content: "\eabf";
}
.eject-fill:before {
  content: "\eac0";
}
.emoji-angry:before {
  content: "\eac1";
}
.emoji-dizzy:before {
  content: "\eac2";
}
.emoji-expressionless:before {
  content: "\eac3";
}
.emoji-frown:before {
  content: "\eac4";
}
.emoji-laughing:before {
  content: "\eac5";
}
.emoji-neutral:before {
  content: "\eac6";
}
.emoji-smile:before {
  content: "\eac7";
}
.emoji-smile-upside-down:before {
  content: "\eac8";
}
.emoji-sunglasses:before {
  content: "\eac9";
}
.envelope:before {
  content: "\eaca";
}
.envelope-fill:before {
  content: "\eacb";
}
.envelope-open:before {
  content: "\eacc";
}
.envelope-open-fill:before {
  content: "\eacd";
}
.exclamation:before {
  content: "\eace";
}
.exclamation-circle:before {
  content: "\eacf";
}
.exclamation-circle-fill:before {
  content: "\ead0";
}
.exclamation-diamond:before {
  content: "\ead1";
}
.exclamation-diamond-fill:before {
  content: "\ead2";
}
.exclamation-octagon:before {
  content: "\ead3";
}
.exclamation-octagon-fill:before {
  content: "\ead4";
}
.exclamation-square:before {
  content: "\ead5";
}
.exclamation-square-fill:before {
  content: "\ead6";
}
.exclamation-triangle:before {
  content: "\ead7";
}
.exclamation-triangle-fill:before {
  content: "\ead8";
}
.exclude:before {
  content: "\ead9";
}
.eye:before {
  content: "\eada";
}
.eye-fill:before {
  content: "\eadb";
}
.eyeglasses:before {
  content: "\eadc";
}
.eye-slash:before {
  content: "\eadd";
}
.eye-slash-fill:before {
  content: "\eade";
}
.file:before {
  content: "\eadf";
}
.file-arrow-down:before {
  content: "\eae0";
}
.file-arrow-down-fill:before {
  content: "\eae1";
}
.file-arrow-up:before {
  content: "\eae2";
}
.file-arrow-up-fill:before {
  content: "\eae3";
}
.file-binary:before {
  content: "\eae4";
}
.file-binary-fill:before {
  content: "\eae5";
}
.file-break:before {
  content: "\eae6";
}
.file-break-fill:before {
  content: "\eae7";
}
.file-check:before {
  content: "\eae8";
}
.file-check-fill:before {
  content: "\eae9";
}
.file-code:before {
  content: "\eaea";
}
.file-code-fill:before {
  content: "\eaeb";
}
.file-diff:before {
  content: "\eaec";
}
.file-diff-fill:before {
  content: "\eaed";
}
.file-earmark:before {
  content: "\eaee";
}
.file-earmark-arrow-down:before {
  content: "\eaef";
}
.file-earmark-arrow-up:before {
  content: "\eaf0";
}
.file-earmark-arrow-up-fill:before {
  content: "\eaf1";
}
.file-earmark-binary:before {
  content: "\eaf2";
}
.file-earmark-binary-fill:before {
  content: "\eaf3";
}
.file-earmark-break:before {
  content: "\eaf4";
}
.file-earmark-break-fill:before {
  content: "\eaf5";
}
.file-earmark-check:before {
  content: "\eaf6";
}
.file-earmark-check-fill:before {
  content: "\eaf7";
}
.file-earmark-code:before {
  content: "\eaf8";
}
.file-earmark-code-fill:before {
  content: "\eaf9";
}
.file-earmark-diff:before {
  content: "\eafa";
}
.file-earmark-diff-fill:before {
  content: "\eafb";
}
.file-earmark-fill:before {
  content: "\eafc";
}
.file-earmark-medical:before {
  content: "\eafd";
}
.file-earmark-medical-fill:before {
  content: "\eafe";
}
.file-earmark-minus:before {
  content: "\eaff";
}
.file-earmark-minus-fill:before {
  content: "\eb00";
}
.file-earmark-plus:before {
  content: "\eb01";
}
.file-earmark-plus-fill:before {
  content: "\eb02";
}
.file-earmark-ruled:before {
  content: "\eb03";
}
.file-earmark-ruled-fill:before {
  content: "\eb04";
}
.file-earmark-spreadsheet:before {
  content: "\eb05";
}
.file-earmark-spreadsheet-fill:before {
  content: "\eb06";
}
.file-earmark-text:before {
  content: "\eb07";
}
.file-earmark-text-fill:before {
  content: "\eb08";
}
.file-earmark-zip:before {
  content: "\eb09";
}
.file-earmark-zip-fill:before {
  content: "\eb0a";
}
.file-fill:before {
  content: "\eb0b";
}
.file-medical:before {
  content: "\eb0c";
}
.file-medical-fill:before {
  content: "\eb0d";
}
.file-minus:before {
  content: "\eb0e";
}
.file-minus-fill:before {
  content: "\eb0f";
}
.file-music:before {
  content: "\eb10";
}
.file-music-fill:before {
  content: "\eb11";
}
.file-person:before {
  content: "\eb12";
}
.file-person-fill:before {
  content: "\eb13";
}
.file-plus:before {
  content: "\eb14";
}
.file-plus-fill:before {
  content: "\eb15";
}
.file-post:before {
  content: "\eb16";
}
.file-post-fill:before {
  content: "\eb17";
}
.file-richtext:before {
  content: "\eb18";
}
.file-richtext-fill:before {
  content: "\eb19";
}
.file-ruled:before {
  content: "\eb1a";
}
.file-ruled-fill:before {
  content: "\eb1b";
}
.files:before {
  content: "\eb1c";
}
.files-alt:before {
  content: "\eb1d";
}
.file-spreadsheet:before {
  content: "\eb1e";
}
.file-spreadsheet-fill:before {
  content: "\eb1f";
}
.file-text:before {
  content: "\eb20";
}
.file-text-fill:before {
  content: "\eb21";
}
.file-zip:before {
  content: "\eb22";
}
.file-zip-fill:before {
  content: "\eb23";
}
.film:before {
  content: "\eb24";
}
.filter:before {
  content: "\eb25";
}
.filter-circle:before {
  content: "\eb26";
}
.filter-circle-fill:before {
  content: "\eb27";
}
.filter-left:before {
  content: "\eb28";
}
.filter-right:before {
  content: "\eb29";
}
.filter-square:before {
  content: "\eb2a";
}
.filter-square-fill:before {
  content: "\eb2b";
}
.flag:before {
  content: "\eb2c";
}
.flag-fill:before {
  content: "\eb2d";
}
.flower1:before {
  content: "\eb2e";
}
.flower2:before {
  content: "\eb2f";
}
.flower3:before {
  content: "\eb30";
}
.folder:before {
  content: "\eb31";
}
.folder2:before {
  content: "\eb32";
}
.folder2-open:before {
  content: "\eb33";
}
.folder-check:before {
  content: "\eb34";
}
.folder-fill:before {
  content: "\eb35";
}
.folder-minus:before {
  content: "\eb36";
}
.folder-plus:before {
  content: "\eb37";
}
.folder-symlink:before {
  content: "\eb38";
}
.folder-symlink-fill:before {
  content: "\eb39";
}
.fonts:before {
  content: "\eb3a";
}
.forward:before {
  content: "\eb3b";
}
.forward-fill:before {
  content: "\eb3c";
}
.front:before {
  content: "\eb3d";
}
.fullscreen:before {
  content: "\eb3e";
}
.fullscreen-exit:before {
  content: "\eb3f";
}
.funnel:before {
  content: "\eb40";
}
.funnel-fill:before {
  content: "\eb41";
}
.gear:before {
  content: "\eb42";
}
.gear-fill:before {
  content: "\eb43";
}
.gear-wide:before {
  content: "\eb44";
}
.gear-wide-connected:before {
  content: "\eb45";
}
.gem:before {
  content: "\eb46";
}
.geo:before {
  content: "\eb47";
}
.geo-alt:before {
  content: "\eb48";
}
.gift:before {
  content: "\eb49";
}
.gift-fill:before {
  content: "\eb4a";
}
.globe:before {
  content: "\eb4b";
}
.globe2:before {
  content: "\eb4c";
}
.graph-down:before {
  content: "\eb4d";
}
.graph-up:before {
  content: "\eb4e";
}
.grid:before {
  content: "\eb4f";
}
.grid-1x2:before {
  content: "\eb50";
}
.grid-1x2-fill:before {
  content: "\eb51";
}
.grid-3x2:before {
  content: "\eb52";
}
.grid-3x2-gap:before {
  content: "\eb53";
}
.grid-3x2-gap-fill:before {
  content: "\eb54";
}
.grid-3x3:before {
  content: "\eb55";
}
.grid-3x3-gap:before {
  content: "\eb56";
}
.grid-3x3-gap-fill:before {
  content: "\eb57";
}
.grid-fill:before {
  content: "\eb58";
}
.grip-horizontal:before {
  content: "\eb59";
}
.grip-vertical:before {
  content: "\eb5a";
}
.hammer:before {
  content: "\eb5b";
}
.handbag:before {
  content: "\eb5c";
}
.handbag-fill:before {
  content: "\eb5d";
}
.hand-index:before {
  content: "\eb5e";
}
.hand-index-thumb:before {
  content: "\eb5f";
}
.hand-thumbs-down:before {
  content: "\eb60";
}
.hand-thumbs-up:before {
  content: "\eb61";
}
.hash:before {
  content: "\eb62";
}
.hdd:before {
  content: "\eb63";
}
.hdd-fill:before {
  content: "\eb64";
}
.hdd-network:before {
  content: "\eb65";
}
.hdd-network-fill:before {
  content: "\eb66";
}
.hdd-rack:before {
  content: "\eb67";
}
.hdd-rack-fill:before {
  content: "\eb68";
}
.hdd-stack:before {
  content: "\eb69";
}
.hdd-stack-fill:before {
  content: "\eb6a";
}
.headphones:before {
  content: "\eb6b";
}
.headset:before {
  content: "\eb6c";
}
.heart:before {
  content: "\eb6d";
}
.heart-fill:before {
  content: "\eb6e";
}
.heart-half:before {
  content: "\eb6f";
}
.heptagon:before {
  content: "\eb70";
}
.heptagon-fill:before {
  content: "\eb71";
}
.heptagon-half:before {
  content: "\eb72";
}
.hexagon:before {
  content: "\eb73";
}
.hexagon-fill:before {
  content: "\eb74";
}
.hexagon-half:before {
  content: "\eb75";
}
.hourglass:before {
  content: "\eb76";
}
.hourglass-bottom:before {
  content: "\eb77";
}
.hourglass-split:before {
  content: "\eb78";
}
.hourglass-top:before {
  content: "\eb79";
}
.house:before {
  content: "\eb7a";
}
.house-door:before {
  content: "\eb7b";
}
.house-door-fill:before {
  content: "\eb7c";
}
.house-fill:before {
  content: "\eb7d";
}
.hr:before {
  content: "\eb7e";
}
.image:before {
  content: "\eb7f";
}
.image-alt:before {
  content: "\eb80";
}
.image-fill:before {
  content: "\eb81";
}
.images:before {
  content: "\eb82";
}
.inbox:before {
  content: "\eb83";
}
.inboxes:before {
  content: "\eb84";
}
.inboxes-fill:before {
  content: "\eb85";
}
.inbox-fill:before {
  content: "\eb86";
}
.info:before {
  content: "\eb87";
}
.info-circle:before {
  content: "\eb88";
}
.info-circle-fill:before {
  content: "\eb89";
}
.info-square:before {
  content: "\eb8a";
}
.info-square-fill:before {
  content: "\eb8b";
}
.input-cursor:before {
  content: "\eb8c";
}
.input-cursor-text:before {
  content: "\eb8d";
}
.intersect:before {
  content: "\eb8e";
}
.journal:before {
  content: "\eb8f";
}
.journal-album:before {
  content: "\eb90";
}
.journal-arrow-down:before {
  content: "\eb91";
}
.journal-arrow-up:before {
  content: "\eb92";
}
.journal-check:before {
  content: "\eb93";
}
.journal-code:before {
  content: "\eb94";
}
.journal-medical:before {
  content: "\eb95";
}
.journal-minus:before {
  content: "\eb96";
}
.journal-plus:before {
  content: "\eb97";
}
.journal-richtext:before {
  content: "\eb98";
}
.journals:before {
  content: "\eb99";
}
.journal-text:before {
  content: "\eb9a";
}
.joystick:before {
  content: "\eb9b";
}
.justify:before {
  content: "\eb9c";
}
.justify-left:before {
  content: "\eb9d";
}
.justify-right:before {
  content: "\eb9e";
}
.kanban:before {
  content: "\eb9f";
}
.kanban-fill:before {
  content: "\eba0";
}
.key:before {
  content: "\eba1";
}
.keyboard:before {
  content: "\eba2";
}
.keyboard-fill:before {
  content: "\eba3";
}
.key-fill:before {
  content: "\eba4";
}
.ladder:before {
  content: "\eba5";
}
.lamp:before {
  content: "\eba6";
}
.lamp-fill:before {
  content: "\eba7";
}
.laptop:before {
  content: "\eba8";
}
.laptop-fill:before {
  content: "\eba9";
}
.layers:before {
  content: "\ebaa";
}
.layers-fill:before {
  content: "\ebab";
}
.layers-half:before {
  content: "\ebac";
}
.layout-sidebar:before {
  content: "\ebad";
}
.layout-sidebar-inset:before {
  content: "\ebae";
}
.layout-sidebar-inset-reverse:before {
  content: "\ebaf";
}
.layout-sidebar-reverse:before {
  content: "\ebb0";
}
.layout-split:before {
  content: "\ebb1";
}
.layout-text-sidebar:before {
  content: "\ebb2";
}
.layout-text-sidebar-reverse:before {
  content: "\ebb3";
}
.layout-text-window:before {
  content: "\ebb4";
}
.layout-text-window-reverse:before {
  content: "\ebb5";
}
.layout-three-columns:before {
  content: "\ebb6";
}
.layout-wtf:before {
  content: "\ebb7";
}
.life-preserver:before {
  content: "\ebb8";
}
.lightning:before {
  content: "\ebb9";
}
.lightning-fill:before {
  content: "\ebba";
}
.link:before {
  content: "\ebbb";
}
.link-45deg:before {
  content: "\ebbc";
}
.list:before {
  content: "\ebbd";
}
.list-check:before {
  content: "\ebbe";
}
.list-nested:before {
  content: "\ebbf";
}
.list-ol:before {
  content: "\ebc0";
}
.list-stars:before {
  content: "\ebc1";
}
.list-task:before {
  content: "\ebc2";
}
.list-ul:before {
  content: "\ebc3";
}
.lock:before {
  content: "\ebc4";
}
.lock-fill:before {
  content: "\ebc5";
}
.mailbox:before {
  content: "\ebc6";
}
.mailbox2:before {
  content: "\ebc7";
}
.map:before {
  content: "\ebc8";
}
.markdown:before {
  content: "\ebc9";
}
.markdown-fill:before {
  content: "\ebca";
}
.menu-app:before {
  content: "\ebcb";
}
.menu-app-fill:before {
  content: "\ebcc";
}
.menu-button:before {
  content: "\ebcd";
}
.menu-button-fill:before {
  content: "\ebce";
}
.menu-button-wide:before {
  content: "\ebcf";
}
.menu-button-wide-fill:before {
  content: "\ebd0";
}
.menu-down:before {
  content: "\ebd1";
}
.menu-up:before {
  content: "\ebd2";
}
.mic:before {
  content: "\ebd3";
}
.mic-fill:before {
  content: "\ebd4";
}
.mic-mute:before {
  content: "\ebd5";
}
.mic-mute-fill:before {
  content: "\ebd6";
}
.minecart:before {
  content: "\ebd7";
}
.minecart-loaded:before {
  content: "\ebd8";
}
.moon:before {
  content: "\ebd9";
}
.mouse:before {
  content: "\ebda";
}
.mouse2:before {
  content: "\ebdb";
}
.mouse3:before {
  content: "\ebdc";
}
.music-note:before {
  content: "\ebdd";
}
.music-note-beamed:before {
  content: "\ebde";
}
.music-note-list:before {
  content: "\ebdf";
}
.music-player:before {
  content: "\ebe0";
}
.music-player-fill:before {
  content: "\ebe1";
}
.newspaper:before {
  content: "\ebe2";
}
.node-minus:before {
  content: "\ebe3";
}
.node-minus-fill:before {
  content: "\ebe4";
}
.node-plus:before {
  content: "\ebe5";
}
.node-plus-fill:before {
  content: "\ebe6";
}
.nut:before {
  content: "\ebe7";
}
.nut-fill:before {
  content: "\ebe8";
}
.octagon:before {
  content: "\ebe9";
}
.octagon-fill:before {
  content: "\ebea";
}
.octagon-half:before {
  content: "\ebeb";
}
.option:before {
  content: "\ebec";
}
.outlet:before {
  content: "\ebed";
}
.paperclip:before {
  content: "\ebee";
}
.paragraph:before {
  content: "\ebef";
}
.patch-check:before {
  content: "\ebf0";
}
.patch-check-fll:before {
  content: "\ebf1";
}
.patch-exclamation:before {
  content: "\ebf2";
}
.patch-exclamation-fll:before {
  content: "\ebf3";
}
.patch-minus:before {
  content: "\ebf4";
}
.patch-minus-fll:before {
  content: "\ebf5";
}
.patch-plus:before {
  content: "\ebf6";
}
.patch-plus-fll:before {
  content: "\ebf7";
}
.patch-question:before {
  content: "\ebf8";
}
.patch-question-fll:before {
  content: "\ebf9";
}
.pause:before {
  content: "\ebfa";
}
.pause-fill:before {
  content: "\ebfb";
}
.peace:before {
  content: "\ebfc";
}
.peace-fill:before {
  content: "\ebfd";
}
.pen:before {
  content: "\ebfe";
}
.pencil:before {
  content: "\ebff";
}
.pencil-square:before {
  content: "\ec00";
}
.pentagon:before {
  content: "\ec01";
}
.pentagon-fill:before {
  content: "\ec02";
}
.pentagon-half:before {
  content: "\ec03";
}
.people:before {
  content: "\ec04";
}
.people-fill:before {
  content: "\ec05";
}
.percent:before {
  content: "\ec06";
}
.person:before {
  content: "\ec07";
}
.person-badge:before {
  content: "\ec08";
}
.person-badge-fill:before {
  content: "\ec09";
}
.person-bounding-box:before {
  content: "\ec0a";
}
.person-check:before {
  content: "\ec0b";
}
.person-check-fill:before {
  content: "\ec0c";
}
.person-circle:before {
  content: "\ec0d";
}
.person-dash:before {
  content: "\ec0e";
}
.person-dash-fill:before {
  content: "\ec0f";
}
.person-fill:before {
  content: "\ec10";
}
.person-lines-fill:before {
  content: "\ec11";
}
.person-plus:before {
  content: "\ec12";
}
.person-plus-fill:before {
  content: "\ec13";
}
.person-square:before {
  content: "\ec14";
}
.phone:before {
  content: "\ec15";
}
.phone-fill:before {
  content: "\ec16";
}
.phone-landscape:before {
  content: "\ec17";
}
.phone-landscape-fill:before {
  content: "\ec18";
}
.pie-chart:before {
  content: "\ec19";
}
.pie-chart-fill:before {
  content: "\ec1a";
}
.pip:before {
  content: "\ec1b";
}
.pip-fill:before {
  content: "\ec1c";
}
.play:before {
  content: "\ec1d";
}
.play-fill:before {
  content: "\ec1e";
}
.plug:before {
  content: "\ec1f";
}
.plus:before {
  content: "\ec20";
}
.plus-circle:before {
  content: "\ec21";
}
.plus-circle-fill:before {
  content: "\ec22";
}
.plus-square:before {
  content: "\ec23";
}
.plus-square-fill:before {
  content: "\ec24";
}
.power:before {
  content: "\ec25";
}
.printer:before {
  content: "\ec26";
}
.printer-fill:before {
  content: "\ec27";
}
.puzzle:before {
  content: "\ec28";
}
.puzzle-fill:before {
  content: "\ec29";
}
.question:before {
  content: "\ec2a";
}
.question-circle:before {
  content: "\ec2b";
}
.question-circle-fill:before {
  content: "\ec2c";
}
.question-diamond:before {
  content: "\ec2d";
}
.question-diamond-fill:before {
  content: "\ec2e";
}
.question-octagon:before {
  content: "\ec2f";
}
.question-octagon-fill:before {
  content: "\ec30";
}
.question-square:before {
  content: "\ec31";
}
.question-square-fill:before {
  content: "\ec32";
}
.receipt:before {
  content: "\ec33";
}
.receipt-cutoff:before {
  content: "\ec34";
}
.reception-0:before {
  content: "\ec35";
}
.reception-1:before {
  content: "\ec36";
}
.reception-2:before {
  content: "\ec37";
}
.reception-3:before {
  content: "\ec38";
}
.reception-4:before {
  content: "\ec39";
}
.reply:before {
  content: "\ec3a";
}
.reply-all:before {
  content: "\ec3b";
}
.reply-all-fill:before {
  content: "\ec3c";
}
.reply-fill:before {
  content: "\ec3d";
}
.rss:before {
  content: "\ec3e";
}
.rss-fill:before {
  content: "\ec3f";
}
.screwdriver:before {
  content: "\ec40";
}
.search:before {
  content: "\ec41";
}
.segmented-nav:before {
  content: "\ec42";
}
.server:before {
  content: "\ec43";
}
.share:before {
  content: "\ec44";
}
.share-fill:before {
  content: "\ec45";
}
.shield:before {
  content: "\ec46";
}
.shield-check:before {
  content: "\ec47";
}
.shield-exclamation:before {
  content: "\ec48";
}
.shield-fill:before {
  content: "\ec49";
}
.shield-fill-check:before {
  content: "\ec4a";
}
.shield-fill-exclamation:before {
  content: "\ec4b";
}
.shield-fill-minus:before {
  content: "\ec4c";
}
.shield-fill-plus:before {
  content: "\ec4d";
}
.shield-lock:before {
  content: "\ec4e";
}
.shield-lock-fill:before {
  content: "\ec4f";
}
.shield-minus:before {
  content: "\ec50";
}
.shield-plus:before {
  content: "\ec51";
}
.shield-shaded:before {
  content: "\ec52";
}
.shield-slash:before {
  content: "\ec53";
}
.shield-slash-fill:before {
  content: "\ec54";
}
.shift:before {
  content: "\ec55";
}
.shift-fill:before {
  content: "\ec56";
}
.shop:before {
  content: "\ec57";
}
.shop-window:before {
  content: "\ec58";
}
.shuffle:before {
  content: "\ec59";
}
.signpost:before {
  content: "\ec5a";
}
.signpost-2:before {
  content: "\ec5b";
}
.signpost-2-fill:before {
  content: "\ec5c";
}
.signpost-fill:before {
  content: "\ec5d";
}
.signpost-split:before {
  content: "\ec5e";
}
.signpost-split-fill:before {
  content: "\ec5f";
}
.sim:before {
  content: "\ec60";
}
.sim-fill:before {
  content: "\ec61";
}
.skip-backward:before {
  content: "\ec62";
}
.skip-backward-fill:before {
  content: "\ec63";
}
.skip-end:before {
  content: "\ec64";
}
.skip-end-fill:before {
  content: "\ec65";
}
.skip-forward:before {
  content: "\ec66";
}
.skip-forward-fill:before {
  content: "\ec67";
}
.skip-start:before {
  content: "\ec68";
}
.skip-start-fill:before {
  content: "\ec69";
}
.slash:before {
  content: "\ec6a";
}
.slash-circle:before {
  content: "\ec6b";
}
.slash-circle-fill:before {
  content: "\ec6c";
}
.slash-square:before {
  content: "\ec6d";
}
.slash-square-fill:before {
  content: "\ec6e";
}
.sliders:before {
  content: "\ec6f";
}
.smartwatch:before {
  content: "\ec70";
}
.sort-alpha-down:before {
  content: "\ec71";
}
.sort-alpha-down-alt:before {
  content: "\ec72";
}
.sort-alpha-up:before {
  content: "\ec73";
}
.sort-alpha-up-alt:before {
  content: "\ec74";
}
.sort-down:before {
  content: "\ec75";
}
.sort-down-alt:before {
  content: "\ec76";
}
.sort-numeric-down:before {
  content: "\ec77";
}
.sort-numeric-down-alt:before {
  content: "\ec78";
}
.sort-numeric-up:before {
  content: "\ec79";
}
.sort-numeric-up-alt:before {
  content: "\ec7a";
}
.sort-up:before {
  content: "\ec7b";
}
.sort-up-alt:before {
  content: "\ec7c";
}
.soundwave:before {
  content: "\ec7d";
}
.speaker:before {
  content: "\ec7e";
}
.spellcheck:before {
  content: "\ec7f";
}
.square:before {
  content: "\ec80";
}
.square-fill:before {
  content: "\ec81";
}
.square-half:before {
  content: "\ec82";
}
.star:before {
  content: "\ec83";
}
.star-fill:before {
  content: "\ec84";
}
.star-half:before {
  content: "\ec85";
}
.stickies:before {
  content: "\ec86";
}
.stickies-fill:before {
  content: "\ec87";
}
.sticky:before {
  content: "\ec88";
}
.sticky-fill:before {
  content: "\ec89";
}
.stop:before {
  content: "\ec8a";
}
.stop-fill:before {
  content: "\ec8b";
}
.stoplights:before {
  content: "\ec8c";
}
.stoplights-fill:before {
  content: "\ec8d";
}
.stopwatch:before {
  content: "\ec8e";
}
.stopwatch-fill:before {
  content: "\ec8f";
}
.subtract:before {
  content: "\ec90";
}
.suit-club:before {
  content: "\ec91";
}
.suit-club-fill:before {
  content: "\ec92";
}
.suit-diamond:before {
  content: "\ec93";
}
.suit-diamond-fill:before {
  content: "\ec94";
}
.suit-heart:before {
  content: "\ec95";
}
.suit-heart-fill:before {
  content: "\ec96";
}
.suit-spade:before {
  content: "\ec97";
}
.suit-spade-fill:before {
  content: "\ec98";
}
.sun:before {
  content: "\ec99";
}
.sunglasses:before {
  content: "\ec9a";
}
.table:before {
  content: "\ec9b";
}
.tablet:before {
  content: "\ec9c";
}
.tablet-fill:before {
  content: "\ec9d";
}
.tablet-landscape:before {
  content: "\ec9e";
}
.tablet-landscape-fill:before {
  content: "\ec9f";
}
.tag:before {
  content: "\eca0";
}
.tag-fill:before {
  content: "\eca1";
}
.tags:before {
  content: "\eca2";
}
.tags-fill:before {
  content: "\eca3";
}
.telephone:before {
  content: "\eca4";
}
.telephone-fill:before {
  content: "\eca5";
}
.telephone-forward:before {
  content: "\eca6";
}
.telephone-forward-fill:before {
  content: "\eca7";
}
.telephone-inbound:before {
  content: "\eca8";
}
.telephone-inbound-fill:before {
  content: "\eca9";
}
.telephone-minus:before {
  content: "\ecaa";
}
.telephone-minus-fill:before {
  content: "\ecab";
}
.telephone-outbound:before {
  content: "\ecac";
}
.telephone-outbound-fill:before {
  content: "\ecad";
}
.telephone-plus:before {
  content: "\ecae";
}
.telephone-plus-fill:before {
  content: "\ecaf";
}
.telephone-x:before {
  content: "\ecb0";
}
.telephone-x-fill:before {
  content: "\ecb1";
}
.terminal:before {
  content: "\ecb2";
}
.terminal-fill:before {
  content: "\ecb3";
}
.textarea:before {
  content: "\ecb4";
}
.textarea-resize:before {
  content: "\ecb5";
}
.textarea-t:before {
  content: "\ecb6";
}
.text-center:before {
  content: "\ecb7";
}
.text-indent-left:before {
  content: "\ecb8";
}
.text-indent-right:before {
  content: "\ecb9";
}
.text-left:before {
  content: "\ecba";
}
.text-right:before {
  content: "\ecbb";
}
.thermometer:before {
  content: "\ecbc";
}
.thermometer-half:before {
  content: "\ecbd";
}
.three-dots:before {
  content: "\ecbe";
}
.three-dots-vertical:before {
  content: "\ecbf";
}
.toggle2-off:before {
  content: "\ecc0";
}
.toggle2-on:before {
  content: "\ecc1";
}
.toggle-off:before {
  content: "\ecc2";
}
.toggle-on:before {
  content: "\ecc3";
}
.toggles:before {
  content: "\ecc4";
}
.toggles2:before {
  content: "\ecc5";
}
.tools:before {
  content: "\ecc6";
}
.trash:before {
  content: "\ecc7";
}
.trash2:before {
  content: "\ecc8";
}
.trash2-fill:before {
  content: "\ecc9";
}
.trash-fill:before {
  content: "\ecca";
}
.tree:before {
  content: "\eccb";
}
.tree-fill:before {
  content: "\eccc";
}
.triangle:before {
  content: "\eccd";
}
.triangle-fill:before {
  content: "\ecce";
}
.triangle-half:before {
  content: "\eccf";
}
.trophy:before {
  content: "\ecd0";
}
.truck:before {
  content: "\ecd1";
}
.truck-flatbed:before {
  content: "\ecd2";
}
.tv:before {
  content: "\ecd3";
}
.tv-fill:before {
  content: "\ecd4";
}
.type:before {
  content: "\ecd5";
}
.type-bold:before {
  content: "\ecd6";
}
.type-h1:before {
  content: "\ecd7";
}
.type-h2:before {
  content: "\ecd8";
}
.type-h3:before {
  content: "\ecd9";
}
.type-italic:before {
  content: "\ecda";
}
.type-strikethrough:before {
  content: "\ecdb";
}
.type-underline:before {
  content: "\ecdc";
}
.ui-checks:before {
  content: "\ecdd";
}
.ui-radios:before {
  content: "\ecde";
}
.union:before {
  content: "\ecdf";
}
.unlock:before {
  content: "\ece0";
}
.unlock-fill:before {
  content: "\ece1";
}
.upc:before {
  content: "\ece2";
}
.upc-scan:before {
  content: "\ece3";
}
.upload:before {
  content: "\ece4";
}
.view-list:before {
  content: "\ece5";
}
.view-stacked:before {
  content: "\ece6";
}
.voicemail:before {
  content: "\ece7";
}
.volume-down:before {
  content: "\ece8";
}
.volume-down-fill:before {
  content: "\ece9";
}
.volume-mute:before {
  content: "\ecea";
}
.volume-mute-fill:before {
  content: "\eceb";
}
.volume-off:before {
  content: "\ecec";
}
.volume-off-fill:before {
  content: "\eced";
}
.volume-up:before {
  content: "\ecee";
}
.volume-up-fill:before {
  content: "\ecef";
}
.vr:before {
  content: "\ecf0";
}
.wallet:before {
  content: "\ecf1";
}
.wallet2:before {
  content: "\ecf2";
}
.wallet-fill:before {
  content: "\ecf3";
}
.watch:before {
  content: "\ecf4";
}
.wifi:before {
  content: "\ecf5";
}
.wifi-1:before {
  content: "\ecf6";
}
.wifi-2:before {
  content: "\ecf7";
}
.wifi-off:before {
  content: "\ecf8";
}
.window:before {
  content: "\ecf9";
}
.wrench:before {
  content: "\ecfa";
}
.x:before {
  content: "\ecfb";
}
.x-circle:before {
  content: "\ecfc";
}
.x-circle-fill:before {
  content: "\ecfd";
}
.x-diamond:before {
  content: "\ecfe";
}
.x-diamond-fill:before {
  content: "\ecff";
}
.x-octagon:before {
  content: "\ed00";
}
.x-octagon-fill:before {
  content: "\ed01";
}
.x-square:before {
  content: "\ed02";
}
.x-square-fill:before {
  content: "\ed03";
}
.zoom-in:before {
  content: "\ed04";
}
.zoom-out:before {
  content: "\ed05";
}
