@icomoon-font-family: "bs-icons";
@icomoon-font-path: "fonts";

@alarm: "\e900";
@alarm-fill: "\e901";
@alt: "\e902";
@app: "\e903";
@app-indicator: "\e904";
@archive: "\e905";
@archive-fill: "\e906";
@arrow-90deg-down: "\e907";
@arrow-90deg-left: "\e908";
@arrow-90deg-right: "\e909";
@arrow-90deg-up: "\e90a";
@arrow-bar-down: "\e90b";
@arrow-bar-left: "\e90c";
@arrow-bar-right: "\e90d";
@arrow-bar-up: "\e90e";
@arrow-clockwise: "\e90f";
@arrow-counterclockwise: "\e910";
@arrow-down: "\e911";
@arrow-down-circle: "\e912";
@arrow-down-circle-fill: "\e913";
@arrow-down-left: "\e914";
@arrow-down-left-circle: "\e915";
@arrow-down-left-circle-fill: "\e916";
@arrow-down-left-square: "\e917";
@arrow-down-left-square-fill: "\e918";
@arrow-down-right: "\e919";
@arrow-down-right-circle: "\e91a";
@arrow-down-right-circle-fill: "\e91b";
@arrow-down-right-square: "\e91c";
@arrow-down-right-square-fill: "\e91d";
@arrow-down-short: "\e91e";
@arrow-down-square: "\e91f";
@arrow-down-square-fill: "\e920";
@arrow-down-up: "\e921";
@arrow-left: "\e922";
@arrow-left-circle: "\e923";
@arrow-left-circle-fill: "\e924";
@arrow-left-right: "\e925";
@arrow-left-short: "\e926";
@arrow-left-square: "\e927";
@arrow-left-square-fill: "\e928";
@arrow-repeat: "\e929";
@arrow-return-left: "\e92a";
@arrow-return-right: "\e92b";
@arrow-right: "\e92c";
@arrow-right-circle: "\e92d";
@arrow-right-circle-fill: "\e92e";
@arrow-right-short: "\e92f";
@arrow-right-square: "\e930";
@arrow-right-square-fill: "\e931";
@arrows-angle-contract: "\e932";
@arrows-angle-expand: "\e933";
@arrows-collapse: "\e934";
@arrows-expand: "\e935";
@arrows-fullscreen: "\e936";
@arrows-move: "\e937";
@arrow-up: "\e938";
@arrow-up-circle: "\e939";
@arrow-up-circle-fill: "\e93a";
@arrow-up-left: "\e93b";
@arrow-up-left-circle: "\e93c";
@arrow-up-left-circle-fill: "\e93d";
@arrow-up-left-square: "\e93e";
@arrow-up-left-square-fill: "\e93f";
@arrow-up-right: "\e940";
@arrow-up-right-circle: "\e941";
@arrow-up-right-circle-fill: "\e942";
@arrow-up-right-square: "\e943";
@arrow-up-right-square-fill: "\e944";
@arrow-up-short: "\e945";
@arrow-up-square: "\e946";
@arrow-up-square-fill: "\e947";
@aspect-ratio: "\e948";
@aspect-ratio-fill: "\e949";
@asterisk: "\e94a";
@at: "\e94b";
@award: "\e94c";
@award-fill: "\e94d";
@backspace: "\e94e";
@backspace-fill: "\e94f";
@backspace-reverse: "\e950";
@backspace-reverse-fill: "\e951";
@bag: "\e952";
@bag-check: "\e953";
@bag-dash: "\e954";
@bag-fill: "\e955";
@bag-plus: "\e956";
@bar-chart: "\e957";
@bar-chart-fill: "\e958";
@basket: "\e959";
@basket2: "\e95a";
@basket2-fill: "\e95b";
@basket3: "\e95c";
@basket3-fill: "\e95d";
@basket-fill: "\e95e";
@battery: "\e95f";
@battery-charging: "\e960";
@battery-full: "\e961";
@battery-half: "\e962";
@bell: "\e963";
@bell-fill: "\e964";
@blockquote-left: "\e965";
@blockquote-right: "\e966";
@book: "\e967";
@book-half: "\e968";
@bookmark: "\e969";
@bookmark-check: "\e96a";
@bookmark-dash: "\e96b";
@bookmark-fill: "\e96c";
@bookmark-plus: "\e96d";
@bookmarks: "\e96e";
@bookmarks-fill: "\e96f";
@bootstrap: "\e970";
@bootstrap-fill: "\e971";
@bootstrap-reboot: "\e972";
@bounding-box: "\e973";
@bounding-box-circles: "\e974";
@box: "\e975";
@box-arrow-down: "\e976";
@box-arrow-down-left: "\e977";
@box-arrow-down-right: "\e978";
@box-arrow-in-down: "\e979";
@box-arrow-in-down-left: "\e97a";
@box-arrow-in-down-right: "\e97b";
@box-arrow-in-left: "\e97c";
@box-arrow-in-right: "\e97d";
@box-arrow-in-up: "\e97e";
@box-arrow-in-up-left: "\e97f";
@box-arrow-in-up-right: "\e980";
@box-arrow-left: "\e981";
@box-arrow-right: "\e982";
@box-arrow-up: "\e983";
@box-arrow-up-left: "\e984";
@box-arrow-up-right: "\e985";
@box-seam: "\e986";
@braces: "\e987";
@briefcase: "\e988";
@briefcase-fill: "\e989";
@brightness-alt-high: "\e98a";
@brightness-alt-high-fill: "\e98b";
@brightness-alt-low: "\e98c";
@brightness-alt-low-fill: "\e98d";
@brightness-high: "\e98e";
@brightness-high-fill: "\e98f";
@brightness-low: "\e990";
@brightness-low-fill: "\e991";
@brush: "\e992";
@bucket: "\e993";
@bucket-fill: "\e994";
@building: "\e995";
@bullseye: "\e996";
@calendar: "\e997";
@calendar2: "\e998";
@calendar2-check: "\e999";
@calendar2-check-fill: "\e99a";
@calendar2-date: "\e99b";
@calendar2-date-fill: "\e99c";
@calendar2-day: "\e99d";
@calendar2-day-fill: "\e99e";
@calendar2-fill: "\e99f";
@calendar2-minus: "\e9a0";
@calendar2-minus-fill: "\e9a1";
@calendar2-month: "\e9a2";
@calendar2-month-fill: "\e9a3";
@calendar2-plus: "\e9a4";
@calendar2-plus-fill: "\e9a5";
@calendar3: "\e9a6";
@calendar3-fill: "\e9a7";
@calendar4: "\e9a8";
@calendar-check: "\e9a9";
@calendar-check-fill: "\e9aa";
@calendar-date: "\e9ab";
@calendar-date-fill: "\e9ac";
@calendar-day: "\e9ad";
@calendar-day-fill: "\e9ae";
@calendar-fill: "\e9af";
@calendar-minus: "\e9b0";
@calendar-minus-fill: "\e9b1";
@calendar-month: "\e9b2";
@calendar-month-fill: "\e9b3";
@calendar-plus: "\e9b4";
@calendar-plus-fill: "\e9b5";
@camera: "\e9b6";
@camera-video: "\e9b7";
@camera-video-fill: "\e9b8";
@camera-video-off: "\e9b9";
@camera-video-off-fill: "\e9ba";
@capslock: "\e9bb";
@capslock-fill: "\e9bc";
@card-checklist: "\e9bd";
@card-heading: "\e9be";
@card-image: "\e9bf";
@card-list: "\e9c0";
@card-text: "\e9c1";
@caret-down: "\e9c2";
@caret-down-fill: "\e9c3";
@caret-down-square: "\e9c4";
@caret-down-square-fill: "\e9c5";
@caret-left: "\e9c6";
@caret-left-fill: "\e9c7";
@caret-left-square: "\e9c8";
@caret-left-square-fill: "\e9c9";
@caret-right: "\e9ca";
@caret-right-fill: "\e9cb";
@caret-right-square: "\e9cc";
@caret-right-square-fill: "\e9cd";
@caret-up: "\e9ce";
@caret-up-fill: "\e9cf";
@caret-up-square: "\e9d0";
@caret-up-square-fill: "\e9d1";
@cart: "\e9d2";
@cart2: "\e9d3";
@cart3: "\e9d4";
@cart4: "\e9d5";
@cart-check: "\e9d6";
@cart-dash: "\e9d7";
@cart-fill: "\e9d8";
@cart-plus: "\e9d9";
@chat: "\e9da";
@chat-dots: "\e9db";
@chat-dots-fill: "\e9dc";
@chat-fill: "\e9dd";
@chat-quote: "\e9de";
@chat-quote-fill: "\e9df";
@chat-square: "\e9e0";
@chat-square-dots: "\e9e1";
@chat-square-dots-fill: "\e9e2";
@chat-square-fill: "\e9e3";
@chat-square-quote: "\e9e4";
@chat-square-quote-fill: "\e9e5";
@check: "\e9e6";
@check2: "\e9e7";
@check2-all: "\e9e8";
@check2-circle: "\e9e9";
@check2-square: "\e9ea";
@check-all: "\e9eb";
@check-circle: "\e9ec";
@check-circle-fill: "\e9ed";
@check-square: "\e9ee";
@check-square-fill: "\e9ef";
@chevron-bar-contract: "\e9f0";
@chevron-bar-down: "\e9f1";
@chevron-bar-expand: "\e9f2";
@chevron-bar-left: "\e9f3";
@chevron-bar-right: "\e9f4";
@chevron-bar-up: "\e9f5";
@chevron-compact-down: "\e9f6";
@chevron-compact-left: "\e9f7";
@chevron-compact-right: "\e9f8";
@chevron-compact-up: "\e9f9";
@chevron-contract: "\e9fa";
@chevron-double-down: "\e9fb";
@chevron-double-left: "\e9fc";
@chevron-double-right: "\e9fd";
@chevron-double-up: "\e9fe";
@chevron-down: "\e9ff";
@chevron-expand: "\ea00";
@chevron-left: "\ea01";
@chevron-right: "\ea02";
@chevron-up: "\ea03";
@circle: "\ea04";
@circle-fill: "\ea05";
@circle-half: "\ea06";
@circle-square: "\ea07";
@clipboard: "\ea08";
@clipboard-data: "\ea09";
@clock: "\ea0a";
@clock-fill: "\ea0b";
@clock-history: "\ea0c";
@cloud: "\ea0d";
@cloud-download: "\ea0e";
@cloud-fill: "\ea0f";
@cloud-slash: "\ea10";
@cloud-slash-fill: "\ea11";
@cloud-upload: "\ea12";
@code: "\ea13";
@code-slash: "\ea14";
@collection: "\ea15";
@collection-fill: "\ea16";
@collection-play: "\ea17";
@collection-play-fill: "\ea18";
@columns: "\ea19";
@columns-gap: "\ea1a";
@command: "\ea1b";
@compass: "\ea1c";
@cone: "\ea1d";
@cone-striped: "\ea1e";
@controller: "\ea1f";
@credit-card: "\ea20";
@crop: "\ea21";
@cup: "\ea22";
@cursor: "\ea23";
@cursor-fill: "\ea24";
@cursor-text: "\ea25";
@dash: "\ea26";
@dash-circle: "\ea27";
@dash-circle-fill: "\ea28";
@dash-square: "\ea29";
@dash-square-fill: "\ea2a";
@diamond: "\ea2b";
@diamond-fill: "\ea2c";
@diamond-half: "\ea2d";
@display: "\ea2e";
@display-fill: "\ea2f";
@door-closed: "\ea30";
@door-closed-fill: "\ea31";
@dot: "\ea32";
@download: "\ea33";
@droplet: "\ea34";
@droplet-fill: "\ea35";
@droplet-half: "\ea36";
@egg: "\ea37";
@egg-fill: "\ea38";
@egg-fried: "\ea39";
@eject: "\ea3a";
@eject-fill: "\ea3b";
@emoji-angry: "\ea3c";
@emoji-dizzy: "\ea3d";
@emoji-frown: "\ea3e";
@emoji-laughing: "\ea3f";
@emoji-neutral: "\ea40";
@emoji-smile: "\ea41";
@emoji-smile-upside-down: "\ea42";
@emoji-sunglasses: "\ea43";
@envelope: "\ea44";
@envelope-fill: "\ea45";
@envelope-open: "\ea46";
@envelope-open-fill: "\ea47";
@exclamation: "\ea48";
@exclamation-circle: "\ea49";
@exclamation-circle-fill: "\ea4a";
@exclamation-diamond: "\ea4b";
@exclamation-diamond-fill: "\ea4c";
@exclamation-octagon: "\ea4d";
@exclamation-octagon-fill: "\ea4e";
@exclamation-square: "\ea4f";
@exclamation-square-fill: "\ea50";
@exclamation-triangle: "\ea51";
@exclamation-triangle-fill: "\ea52";
@exclude: "\ea53";
@eye: "\ea54";
@eye-fill: "\ea55";
@eye-slash: "\ea56";
@eye-slash-fill: "\ea57";
@file: "\ea58";
@file-arrow-down: "\ea59";
@file-arrow-up: "\ea5a";
@file-break: "\ea5b";
@file-check: "\ea5c";
@file-code: "\ea5d";
@file-diff: "\ea5e";
@file-earmark: "\ea5f";
@file-earmark-arrow-down: "\ea60";
@file-earmark-arrow-up: "\ea61";
@file-earmark-break: "\ea62";
@file-earmark-check: "\ea63";
@file-earmark-code: "\ea64";
@file-earmark-diff: "\ea65";
@file-earmark-minus: "\ea66";
@file-earmark-plus: "\ea67";
@file-earmark-ruled: "\ea68";
@file-earmark-spreadsheet: "\ea69";
@file-earmark-text: "\ea6a";
@file-earmark-zip: "\ea6b";
@file-minus: "\ea6c";
@file-plus: "\ea6d";
@file-post: "\ea6e";
@file-richtext: "\ea6f";
@file-ruled: "\ea70";
@files: "\ea71";
@files-alt: "\ea72";
@file-spreadsheet: "\ea73";
@file-text: "\ea74";
@file-zip: "\ea75";
@film: "\ea76";
@filter: "\ea77";
@filter-left: "\ea78";
@filter-right: "\ea79";
@flag: "\ea7a";
@flag-fill: "\ea7b";
@folder: "\ea7c";
@folder-check: "\ea7d";
@folder-fill: "\ea7e";
@folder-minus: "\ea7f";
@folder-plus: "\ea80";
@folder-symlink: "\ea81";
@folder-symlink-fill: "\ea82";
@fonts: "\ea83";
@forward: "\ea84";
@forward-fill: "\ea85";
@fullscreen: "\ea86";
@fullscreen-exit: "\ea87";
@funnel: "\ea88";
@funnel-fill: "\ea89";
@gear: "\ea8a";
@gear-fill: "\ea8b";
@gear-wide: "\ea8c";
@gear-wide-connected: "\ea8d";
@gem: "\ea8e";
@geo: "\ea8f";
@geo-alt: "\ea90";
@gift: "\ea91";
@gift-fill: "\ea92";
@graph-down: "\ea93";
@graph-up: "\ea94";
@grid: "\ea95";
@grid-1x2: "\ea96";
@grid-1x2-fill: "\ea97";
@grid-3x2: "\ea98";
@grid-3x2-gap: "\ea99";
@grid-3x2-gap-fill: "\ea9a";
@grid-3x3: "\ea9b";
@grid-3x3-gap: "\ea9c";
@grid-3x3-gap-fill: "\ea9d";
@grid-fill: "\ea9e";
@grip-horizontal: "\ea9f";
@grip-vertical: "\eaa0";
@hammer: "\eaa1";
@handbag: "\eaa2";
@handbag-fill: "\eaa3";
@hand-index: "\eaa4";
@hand-index-thumb: "\eaa5";
@hand-thumbs-down: "\eaa6";
@hand-thumbs-up: "\eaa7";
@hash: "\eaa8";
@headphones: "\eaa9";
@heart: "\eaaa";
@heart-fill: "\eaab";
@heart-half: "\eaac";
@hexagon: "\eaad";
@hexagon-fill: "\eaae";
@hexagon-half: "\eaaf";
@house: "\eab0";
@house-door: "\eab1";
@house-door-fill: "\eab2";
@house-fill: "\eab3";
@hr: "\eab4";
@image: "\eab5";
@image-alt: "\eab6";
@image-fill: "\eab7";
@images: "\eab8";
@inbox: "\eab9";
@inboxes: "\eaba";
@inboxes-fill: "\eabb";
@inbox-fill: "\eabc";
@info: "\eabd";
@info-circle: "\eabe";
@info-circle-fill: "\eabf";
@info-square: "\eac0";
@info-square-fill: "\eac1";
@intersect: "\eac2";
@justify: "\eac3";
@justify-left: "\eac4";
@justify-right: "\eac5";
@kanban: "\eac6";
@kanban-fill: "\eac7";
@laptop: "\eac8";
@layers: "\eac9";
@layers-fill: "\eaca";
@layers-half: "\eacb";
@layout-sidebar: "\eacc";
@layout-sidebar-inset: "\eacd";
@layout-sidebar-inset-reverse: "\eace";
@layout-sidebar-reverse: "\eacf";
@layout-split: "\ead0";
@layout-text-sidebar: "\ead1";
@layout-text-sidebar-reverse: "\ead2";
@layout-text-window: "\ead3";
@layout-text-window-reverse: "\ead4";
@layout-three-columns: "\ead5";
@layout-wtf: "\ead6";
@life-preserver: "\ead7";
@lightning: "\ead8";
@lightning-fill: "\ead9";
@link: "\eada";
@link-45deg: "\eadb";
@list: "\eadc";
@list-check: "\eadd";
@list-nested: "\eade";
@list-ol: "\eadf";
@list-task: "\eae0";
@list-ul: "\eae1";
@lock: "\eae2";
@lock-fill: "\eae3";
@map: "\eae4";
@mic: "\eae5";
@mic-fill: "\eae6";
@mic-mute: "\eae7";
@mic-mute-fill: "\eae8";
@minecart: "\eae9";
@minecart-loaded: "\eaea";
@moon: "\eaeb";
@music-note: "\eaec";
@music-note-beamed: "\eaed";
@music-note-list: "\eaee";
@music-player: "\eaef";
@music-player-fill: "\eaf0";
@newspaper: "\eaf1";
@octagon: "\eaf2";
@octagon-fill: "\eaf3";
@octagon-half: "\eaf4";
@option: "\eaf5";
@outlet: "\eaf6";
@paperclip: "\eaf7";
@pause: "\eaf8";
@pause-fill: "\eaf9";
@pen: "\eafa";
@pencil: "\eafb";
@pencil-square: "\eafc";
@pentagon: "\eafd";
@pentagon-fill: "\eafe";
@pentagon-half: "\eaff";
@people: "\eb00";
@people-fill: "\eb01";
@person: "\eb02";
@person-bounding-box: "\eb03";
@person-check: "\eb04";
@person-check-fill: "\eb05";
@person-circle: "\eb06";
@person-dash: "\eb07";
@person-dash-fill: "\eb08";
@person-fill: "\eb09";
@person-lines-fill: "\eb0a";
@person-plus: "\eb0b";
@person-plus-fill: "\eb0c";
@person-square: "\eb0d";
@phone: "\eb0e";
@phone-landscape: "\eb0f";
@pie-chart: "\eb10";
@pie-chart-fill: "\eb11";
@pip: "\eb12";
@pip-fill: "\eb13";
@play: "\eb14";
@play-fill: "\eb15";
@plug: "\eb16";
@plus: "\eb17";
@plus-circle: "\eb18";
@plus-circle-fill: "\eb19";
@plus-square: "\eb1a";
@plus-square-fill: "\eb1b";
@power: "\eb1c";
@puzzle: "\eb1d";
@puzzle-fill: "\eb1e";
@question: "\eb1f";
@question-circle: "\eb20";
@question-circle-fill: "\eb21";
@question-diamond: "\eb22";
@question-diamond-fill: "\eb23";
@question-octagon: "\eb24";
@question-octagon-fill: "\eb25";
@question-square: "\eb26";
@question-square-fill: "\eb27";
@receipt: "\eb28";
@receipt-cutoff: "\eb29";
@reply: "\eb2a";
@reply-all: "\eb2b";
@reply-all-fill: "\eb2c";
@reply-fill: "\eb2d";
@screwdriver: "\eb2e";
@search: "\eb2f";
@server: "\eb30";
@shield: "\eb31";
@shield-fill: "\eb32";
@shield-lock: "\eb33";
@shield-lock-fill: "\eb34";
@shield-shaded: "\eb35";
@shield-slash: "\eb36";
@shield-slash-fill: "\eb37";
@shift: "\eb38";
@shift-fill: "\eb39";
@shop: "\eb3a";
@shop-window: "\eb3b";
@shuffle: "\eb3c";
@skip-backward: "\eb3d";
@skip-backward-fill: "\eb3e";
@skip-end: "\eb3f";
@skip-end-fill: "\eb40";
@skip-forward: "\eb41";
@skip-forward-fill: "\eb42";
@skip-start: "\eb43";
@skip-start-fill: "\eb44";
@slash: "\eb45";
@slash-circle: "\eb46";
@slash-circle-fill: "\eb47";
@slash-square: "\eb48";
@slash-square-fill: "\eb49";
@sliders: "\eb4a";
@soundwave: "\eb4b";
@speaker: "\eb4c";
@square: "\eb4d";
@square-fill: "\eb4e";
@square-half: "\eb4f";
@star: "\eb50";
@star-fill: "\eb51";
@star-half: "\eb52";
@stop: "\eb53";
@stop-fill: "\eb54";
@stopwatch: "\eb55";
@stopwatch-fill: "\eb56";
@subtract: "\eb57";
@sun: "\eb58";
@table: "\eb59";
@tablet: "\eb5a";
@tablet-landscape: "\eb5b";
@tag: "\eb5c";
@tag-fill: "\eb5d";
@terminal: "\eb5e";
@terminal-fill: "\eb5f";
@textarea: "\eb60";
@textarea-t: "\eb61";
@text-center: "\eb62";
@text-indent-left: "\eb63";
@text-indent-right: "\eb64";
@text-left: "\eb65";
@text-right: "\eb66";
@three-dots: "\eb67";
@three-dots-vertical: "\eb68";
@toggle-off: "\eb69";
@toggle-on: "\eb6a";
@toggles: "\eb6b";
@tools: "\eb6c";
@trash: "\eb6d";
@trash2: "\eb6e";
@trash2-fill: "\eb6f";
@trash-fill: "\eb70";
@triangle: "\eb71";
@triangle-fill: "\eb72";
@triangle-half: "\eb73";
@trophy: "\eb74";
@truck: "\eb75";
@truck-flatbed: "\eb76";
@tv: "\eb77";
@tv-fill: "\eb78";
@type: "\eb79";
@type-bold: "\eb7a";
@type-h1: "\eb7b";
@type-h2: "\eb7c";
@type-h3: "\eb7d";
@type-italic: "\eb7e";
@type-strikethrough: "\eb7f";
@type-underline: "\eb80";
@union: "\eb81";
@unlock: "\eb82";
@unlock-fill: "\eb83";
@upc: "\eb84";
@upc-scan: "\eb85";
@upload: "\eb86";
@view-list: "\eb87";
@view-stacked: "\eb88";
@volume-down: "\eb89";
@volume-down-fill: "\eb8a";
@volume-mute: "\eb8b";
@volume-mute-fill: "\eb8c";
@volume-off: "\eb8d";
@volume-off-fill: "\eb8e";
@volume-up: "\eb8f";
@volume-up-fill: "\eb90";
@vr: "\eb91";
@wallet: "\eb92";
@wallet2: "\eb93";
@watch: "\eb94";
@wifi: "\eb95";
@window: "\eb96";
@wrench: "\eb97";
@x: "\eb98";
@x-circle: "\eb99";
@x-circle-fill: "\eb9a";
@x-diamond: "\eb9b";
@x-diamond-fill: "\eb9c";
@x-octagon: "\eb9d";
@x-octagon-fill: "\eb9e";
@x-square: "\eb9f";
@x-square-fill: "\eba0";

